body{ 
    background-color: #9142B5; 
}

.orbitron{ 
    font-family: 'Orbitron', sans-serif; 
            /* text-shadow: 1px 1px 1px #000000; */

}

.monoton{
        font-family: 'Monoton', sans-serif;
        letter-spacing: 0px;
        word-spacing: 10px;
        /* text-shadow: 2px 2px 2px #000000; */

}
@layer utilities{
    .bg-menu-base { background-color: #b961d7a9; }
    .bg-menu-item { background-color: #5a3e68; }
    .text-neon-green { color: #39ff14; }
    .text-neon-pink { color: #d900d9; }
    .text-neon-cyan { color: #00e5ff; }
}