@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  background-color: #9142B5;
}

body {
  background-color: #9142B5;
  margin: 0;
  min-height: 100vh;
}

.monoton {
  font-family: 'Monoton', sans-serif;
  letter-spacing: 0px;
  word-spacing: 10px;
}

.orbitron {
  font-family: 'Orbitron', sans-serif;
}

/* @layer utilities {
  .text-shadow-sm {
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
  }

  .text-shadow {
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  }

  .text-shadow-lg {
    text-shadow: 4px 4px 8px rgba(0, 0, 0, 0.5);
  }

  .text-shadow-none {
    text-shadow: none;
  }

  .text-shadow-yellow-200 {
    text-shadow: 0 0 8px #fef08a;
  }
} */